@charset "utf-8";

html, body, #App {
  display: block;
  position: relative;
  width: 100%;
	min-height: 100%;
	background-color: #232427;
}

html {
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.3;
  color: #8c8c8c;
  overflow-y: scroll;

	font-family: 'Lato', sans-serif;
}

body {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
  background-color: #f6f6f6;
}

#App {
	display: flex;
	flex-flow: column nowrap;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
	/* border: 1px solid cyan; */
}

#App [data-type="page"] {
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
}

/* selection */
*::selection, /* Chrome */
*::-moz-selection { /* Firefox */
  background-color: #3b3b3b;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.noBreak {
	white-space: nowrap;
}

.shadow {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}

header,
main,
footer {
  position: relative;
	display: flex;
	flex-flow: column nowrap;
  background-color: #ffffff;
}

header {
  z-index: 20;
}

main {
	flex-grow: 1;
  z-index: 2;
	padding: 80px 16px 48px 16px;
}

footer {
  z-index: 3;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr;
	gap: 96px 32px;
	width: auto;
	max-width: 1000px;
	height: auto;
	margin: 0 auto;
}

.grid-wrapper::before,
.grid-wrapper::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	background-color: transparent;
}

.card {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	border-radius: 4px;
	padding: 16px;
	background-color: rgb(240,240,240);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
	color: #1a1b1d;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 800px) {
	.grid-wrapper {
		column-gap: 64px;
	}

	.grid-wrapper.two-columns {
		grid-template-columns: 1fr 1fr;
	}

	.grid-wrapper.two-columns > .full-column {
		grid-column-start: span 2;
	}

	.grid-wrapper.three-columns {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.grid-wrapper.three-columns > .full-column {
		grid-column-start: span 3;
	}
}

@media only screen and (min-width: 1000px) {
	.grid-wrapper {
		column-gap: 96px;
	}
}

h1, h2, h3, h4, h5, h6 {
	display: inline-block;
	width: 100%;
	font-size: 2.25rem;
	font-weight: bold;
	padding-bottom: 16px;
}

h1 {
	color: #45bdef;
}

h2 {
	font-size: 2rem;
	padding-bottom: 14px;
}

h3 {
	font-size: 1.75rem;
	padding-bottom: 12px;
}

h4 {
	font-size: 1.5rem;
	padding-bottom: 8px;
	text-transform: uppercase;
}

h5 {
	font-size: 1.25rem;
	padding-bottom: 6px;
}

h6 {
	font-size: 1.10rem;
	padding-bottom: 4px;
}

p {
	/* letter-spacing: -.1px; */
	line-height: 24px;
}

hr {
	border-color: #45bdef;
}

b, strong {
 font-weight: bold;
}

pre {
  font-size: 0.8rem;
}

article ul {
	padding: 0 0 0 16px;
	list-style: square;
}

article ul li {
	padding: 8px 0;
}

article ul li:first-of-type {
	padding: 0 0 8px 0;
}

/* ### Links ### */
a,
a:link,
a:visited,
a:focus {
	/* text-transform: uppercase; */
	color: #cdcdcd;
	font-weight: bold;
	text-decoration: underline;
	text-decoration-color: #cdcdcd;
	transition: .4s text-decoration-color ease;
}

a:hover,
a:active {
	text-decoration-color: #45bdef;
}

/* ### Loader Spiner ### */
.spinner {
  margin: 0 auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 16px;
  height: 16px;
  background-color: #45bdef;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
